@{
    ViewData["Title"] = "Home Page";
}



@section Content {

<p>
    Content From Layout
</p>

}


<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">


                    <div class="row">

                        @foreach (var item in Model)
                        { 
                        
                            @await Component.InvokeAsync("PostItem",ViewBag.CurrentPage)
                        
                        }



                    </div>
                   </div>
                </div>
            </div>
        </div>
</section>
                  
